h1{
font-size: 30px;
text-align: center;
color: white;
position: relative;
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: rgba(0, 0, 0, 0.5);
}
